<%= flash[:notice] %>
  <p> Title: <%= @book.title %> </p>
  <p> Body: <%= @book.body %> </p>

<%=link_to "Edit",edit_book_path, class: "edit_#{@book.id}" %>
<%=link_to "Back",books_path, class: "back" %>

